fastapi
uvicorn
python-dotenv
python-multipart

groq

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma

chromadb
sentence-transformers
transformers
torch

pymupdf
pypdf

huggingface_hub

pydantic
requests